<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="hu.spot.taxi.pollerPlugin"
      version="0.3.6">
    <name>URI Poller</name>
    <description>URI Poller plugin</description>
    <license>MIT</license>
    <keywords>phonegap,poller</keywords>
 
 
    <js-module src="www/uripoller.js" name="URIPoller">
        <clobbers target="window.uripoller" />
    </js-module>
 
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="URIPoller">
                <param name="android-package" value="hu.spot.taxi.pollingPlugin.URIPoller"/>
            </feature>
        </config-file>
        <source-file src="src/android/URIPoller.java" target-dir="src/hu/spot/taxi/pollingPlugin" />      
        <source-file src="src/android/MyPollingService.java" target-dir="src/hu/spot/taxi/pollingPlugin" />      
     </platform>          
</plugin>